/* Navigation */

img.primary-menu-logo {
  max-width: 150px;
  margin: 15% 0 5% 20%;
}

.nav-bg{
  background-color: #121B2D;
}

.navbar-nav {
  margin-left: auto;
  font-weight: 700;
  font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #E4A39C;
}

nav ul li {
  margin: 0 20px;
}

ul li.nav-item a.active,
ul li.nav-item a:hover {
  border-bottom: 3px solid #E4A39C;
}

.navbar-dark .navbar-toggler {
  border: none;
  color: #E4A39C;
}

span.navbar-toggler-icon {
  color: #E4A39C;
}

/* End Navigation */

/* Home */

body {
  background-color: #121B2D;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

div.fixed {
  margin: 130px 0 0 30px;
}

div.social-icons {
  /* position: fixed; */
  margin: 30px 10px 30px 30px;
  bottom: 0;
}

h2 {
  font-size: 75px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

span.accent-color {
  color: #E4A39C;
}

i {
  color: #fff;
  font-size: 30px;
}

i:hover {
  color: #E4A39C;
}

div.fixed i{
  margin-right: 30px;
}

div.social-icons {
  margin-top: 20px;
}

a, a:hover {
  text-decoration: underline;
  color: #E4A39C;
}

nav a, nav a:hover {
  text-decoration: none;
}

div.about {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
}

div.process {
  font-weight: 300;
  font-size: 17px;
  line-height: 35px;
}

img.portrait {
  max-width: 300px;
}

section.about-page {
  margin: 130px 0 100px 0;
  padding: 0 20px;
}

section.portfolio-page {
  margin: 130px 0 100px 0;
}

img.circular-logo {
  max-width: 150px;
}

div.position-fixed img.circular-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 38px 30px 0;
  z-index: 1;
}

.circular-logo {
  animation: stamp 5s 1;
}

.circular-logo:hover {
  animation: stamp 5s infinite;
}

footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #121B2D;
  padding: 5px 0;
}

div.hero-section {
  height: 70vh
}

span.italic {
  font-style: italic;
}

/* End Home */

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E4A39C;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D96058;
}

/* End Scrollbar */

/* Contact Page */

form {
  max-width:100%;
  margin:30px auto;
}

.feedback-input {
  color:#000;
  font-weight:500;
  font-size: 15px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #fff;
  border:1px solid #1F4662;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
  border:2px solid #D96058;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#E4A39C;
  border-radius:30px;
  border:0;
  cursor:pointer;
  color: #121B2D;
  font-size:15px;
  padding-top:8px;
  padding-bottom:8px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover {
  background: #D96058;
}

div.contact-fixed {
  position: fixed;
  right: 0;
  top: 0;
  margin: 130px 0 0 0;
}

img.hand {
  max-width: 450px;
}

/* End Contact Page */

/* Portfolio Page */

h3 {
  font-weight: 700;
}

/* End Portfolio Page */

/* Media Queries */

@media (max-width: 1500px) {
  div.contact-fixed {
    display: none;
  }
}

@media (min-width: 1500px) {
  div.fixed {
    position: absolute;
    margin: 0 0 0 30px;
  }

  div.social-icons {
    margin: 0 0 30px 30px;
  }

  footer {
    position: fixed;
    z-index: -1;
  }

  section.about-page {
    margin: 130px 0 0 0;
  }

  section.portfolio-page {
    margin: 130px 0 0 0;
  }

}

@media (max-width: 1030px) {
  img.circular-logo {
    display: none;
  }

}

@media (max-width: 500px) {
  h2 {
    font-size: 45px;
  }

  div.about {
    font-size: 20px;
  }
}

/* End Media Queries */

/* Animation */

@keyframes stamp {
  100% {transform: rotate(360deg);}
}

/* Animation */
